@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito" , sans-serif;
    font-weight: 500; 
}

body {
    background: #EEEDE7;
    color: white;
}

                                                                       /* Header Section */

.header {
    position: fixed;
    background: #868B8E;
    width: 100%;
    display: flex;
    padding: 1rem 7rem;
    justify-content: space-between;
    z-index: 1;
}

.header img {
    width: 10rem;
    height: 2rem;
}

.navbar a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    margin-left: 2rem;
}

.navbar a:hover {
    text-decoration: underline;
}

.btns {
    font-size: 1.9rem;
    text-decoration: none;
    color: white;
}

                                                                  /* Home Section */

.home {
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 5rem 7% 0;
}

.home-content h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-bottom: 1rem;
    line-height: 4.5rem;
    color: black;
}

.home-content p {
    font-size: 1.6rem;
    color: black;
}

.btn-box {
    padding: 2rem 0 0 0;
}

.btn {
    display: inline-flex;
    width: 9.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    background-color: brown;
    color: white;
    border-radius: .5rem;
    letter-spacing: .1rem;
}

.btn:hover {
    background-color: rgb(128, 30, 30);
}

.stars {
    padding-top: 0.5rem;
    color: rgb(255, 123, 0);
    font-size: 1.3rem;  
}

                                                                               /* About Section */

.about, .contact-us-section {
    margin-top: -3.438rem;
    margin-bottom: 3.125rem;
    padding: 3.125rem 1.25rem;
    text-align: center;
}

.about h1 , .testimonials h1 , .contact h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 1.25rem;
    text-align: center;
}

.about img {
    float: left;
    width: 23.75rem;
    height: 21.25rem;
    margin-left: 0.625rem;
    margin-top: -3.125rem;
    margin-right: 1.875rem;
}

.about p {
    display: inline-block;
    width: 59.375rem;
    margin-left: -6.25rem;
    color: black;
    text-align: justify;
    font-size: larger;
}

                                                                            /* Products Section */

.top-picks {
    text-align: center;
    padding-bottom: 2.5rem;
    font-size: x-large;
    color: black;
}

.slider-container {
    position: relative;
    width: 80%;
    left: 9.7rem;
    overflow: hidden;
    padding-top: 1rem;
    border-radius: 1.25rem;
    background: transparent;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    flex: 0 0 25rem;
    box-sizing: border-box;
    padding: 0.625rem;
    text-align: center;
}

.card img {
    width: 95%;
    height: auto; 
    max-height: 18.75rem; 
    object-fit: cover;
    border-radius: 0.938rem;
    margin-bottom: 0.625rem;
    z-index: 50;
}

.card img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out; 
}

.card-content {
    padding: 0.5rem 1rem;
    text-align: left;
    color: black;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-170%);
    background-color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 15%;
    padding: 0.625rem;
    cursor: pointer;
}

button.prev {
    left: 0.6rem;
}

button.next {
    right: 0.6rem;
}

button.prev:hover, button.next:hover {
    background-color: rgb(240, 240, 240);
}

                                                                           /* Features Ssection */

.features {
    text-align: center;
    padding-top: 2.5rem;
    font-size: x-large;
    color: black;
}

.features p {
    padding-top: 0.5rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    color: black;
}

.feature-container {
    display: flex;
    gap: 3.1rem;
    margin-left: 4.5rem;
}

.feature {
    flex-basis: 30%; 
    display: grid;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1); 
    background-color: white; 
    padding: 0.625rem;
    text-align: center; 
}

.feature img {
    width: 100%; 
    height: 90%;
    background-color: #969ca0;
    border-radius: 0.7rem;
}

.feature h2 {
    margin-top: -1rem;
    color: black;
    font-weight: 700;
}

.feature p {
    font-size: 14px;  
    line-height: 1.2; 
    color: black;
}

                                                                     /* .testimonial-section */

.testimonials {
    background-color: rgba(255, 255, 255, 0.271);
    padding: 50px 0;
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.testimonial {
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
}

.testimonial p {
    font-style: italic;
    color: black;
    margin-bottom: 10px;
}

.testimonial h3 {
    font-weight: 800;
    color: black;
}

.testimonial h4 {
    color: black;
    margin-top: -0.6rem;
    margin-bottom: 0.2rem;
}

                                                                            /* Contact Section */

.contact p {
    color: black;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-top: -1rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.contact input, .contact textarea {
    width: 35rem;
    padding: 10px;
    border: 0.1rem solid gainsboro;
    border-radius: 5px;
    font-size: 1rem;
}

.contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: brown;
    color:white;
    font-size: 1.2rem;
    cursor: pointer;
}

.contact button:hover {
    background-color: rgb(136, 33, 33);
}

                                                                                   /* Footer Section */

.footer {
    background-color: rgb(100, 100, 100);
    color: white;
    text-align: center;
    padding: 1.2rem;
    margin-top: 3.5rem;
}

.footer p{
    color: white;
    line-height: 2.5rem;
    font-size: 1.3rem;
}

.footer a {
    text-decoration: none;
    color: white;
}